<nav class="sidebar">
    <div class="sidebar-inner">
        <header class="sidebar-header">
            <button type="button" class="sidebar-burger btn" onclick="toggleSidebar()">
                <i class='bx bx-menu'></i>
            </button>
            <img src="logo.png" alt="" class="sidebar-logo">
        </header>

        <nav class="sidebar-menu">
            <a href="#" class="btn has-border">
                <i class='bx bx-cog' ></i>
                <span>Settings</span>
            </a>
            <a href="#" class="btn">
                <i class='bx bx-group' ></i>
                <span>Home</span>
            </a>
            <a href="#" class="btn">
                <i class='bx bx-buildings' ></i>
                <span>Home</span>
            </a>
        </nav>
    </div>
</nav>