<nav>
    <a href="/">Home</a>
    <a href="/Cad/Fuc">Funcionários</a>
    <a href="#">Folha de Pagamento</a>
    <a href="#">Relatórios</a>
    <a href="#">Configurações</a>
    <a class="nav-btn" href="/Acess">Login</a>
</nav>