<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for( let i = 0; i < empresas.length; i++) { %>
            <tr>
                <td> <%= empresas[i].nome %> </td>
                <td> <%= empresas[i].email %> </td>
                <td> <%= empresas[i].telefone %> </td>
                <td class="center">
                    <a href="#" class="red">
                        <i class='bx bx-trash' ></i>
                    </a>
                </td>
                <td class="center">
                    <a href="#">
                        <i class='bx bx-edit' ></i>
                    </a>
                </td>
                <td class="center">
                    <a href="#">
                        <i class='bx bx-printer' ></i>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>