<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folha de Pagamento</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
    body {
        width: 96.5vw;
        font-family: 'Sono', monospace;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        height: 100vh;
        padding: 1em;
    }

    section div{
        position: relative;
        text-align: left;
        width: 500px;
        height: 500px;
    }

    section div .btn{
        width: 200px;
        border: none;
        border-radius: 30px;
        padding: 10px 40px;
        font-weight: 700;
        font-size: 1em;
        text-decoration: none;
        color: #fff;
        background-color: #399E5A;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
    }

    section .btn:hover {
        background-color: #2c7945;
    } 

    section div img{
        height: 100%;
    }
  </style>
</head>
    <body>
        <%- include('../components/menu_principal.ejs') %>
        <section>
            <div style="padding-top: 10%;">
                <h2>Bem-vindo ao Sistema de Folha de Pagamento</h2>
                <p>Este sistema permite gerenciar informações sobre funcionários, calcular folhas de pagamento e gerar relatórios.</p>
                <a class="btn" href="/Cad/Admin">Teste Grátis</a>
            </div>
            <div>
                <img src="./img/undraw_Team_up_re_84ok.png" alt="pessoas sobre telas">
            </div>
        </section>
        <%- include('../components/footer_principal.ejs') %>
    </body>
</html>
