<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folha de Pagamento</title>
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="./css/menu_principal.css">
  <link rel="stylesheet" href="./css/footer_principal.css">
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
</head>
    <body>

        <%- include('../components/menu_principal.ejs') %>
        <section>
            <div style="padding-top: 10%;">
                <h2>Bem-vindo ao Sistema de Folha de Pagamento</h2>
                <p>Este sistema permite gerenciar informações sobre funcionários, calcular folhas de pagamento e gerar relatórios.</p>
                <a class="btn" href="/Cad/Admin">Teste Grátis</a>
            </div>
            <div>
                <img src="./img/undraw_Team_up_re_84ok.png" alt="pessoas sobre telas">
            </div>
        </section>
        <%- include('../components/footer_principal.ejs') %>

    </body>
</html>
