<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Beneficios </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/menu_admin.css">
    <link rel="stylesheet" href="../../css/forms.css">
    <link rel="stylesheet" href="../../css/cabecalho_tabela.css">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
</head>
<style>
    body{
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
    }
</style>
<body>
    <%- include('../components/menu_admin.ejs') -%>
    <header id="cabecalho_tabela">
        <h1>Empresas > Colaboradores > Beneficios</h1>
        <hr>
    </header>
    <main>
        <form action="/beneficios/new" method="post">
            <div class="form-group">
                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" placeholder="Vale Alimentação" required>
            </div>
            <div class="form-group col2">
                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" placeholder="Cartão prepago para gastos alimenticios">
            </div>
            <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" name="valor" min="0" placeholder="400,00">
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn">
            </div>
        </form>
        <table class="border">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            
            <% for( let i = 0; i < beneficios.length; i++) { %>
                <tr>
                    <td> <%= beneficios[i].titulo %> </td>
                    <td> <%= beneficios[i].descricao %> </td>
                    <td class="center">
                        <a href="/horasextra/delete/<%= beneficios[i].ID_beneficio %>" class="red">
                            <i class='bx bx-trash' ></i>
                        </a>
                    </td>
                </tr>
            <% } %>
            
        </table>
    </main>
</body>
</html>